<br>
<br>
<div class="well" style="background-color: grey;">
<div class="card">
    <div class="card-heading">
<h2><strong><u>Github Search</u></strong></h2>
</div>

<p>This is an angular app that a user can use to search for any Github User through the username and view the following details in a click of a button:</p>
<div class="row">
    <div class="col-md-6">
<ol>
    <li>Username</li>
    <li>login name</li>
    <li>Email address</li>
    <li>Bio</li>
    <li>Number of followers</li>
    <li>Number of people they are following</li>
    <li>Number of repositories</li>
    <li>Account creation date.</li>
</ol>
</div>
<div class="col-md-6">
<ol>
    <li>Repository name</li>
    <li>Repository description</li>
    <li>Repository url</li>
</ol>
</div>
</div>
</div>
</div>