          <form>
            <br>
              <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                   
                  <input type="text" class="form-control" placeholder="Search username" [(ngModel)]="username" name="username"><br>
                  <button class="btn btn-dark" type="submit"(click)="search()">Search</button>
              
            </div>
              <div class="col-md-6">
                      <span class="badge badge-dark" style="margin-right: 10px"> <strong>Repositories:</strong> {{user.repositories}} </span>
                      <span class="badge badge-primary" style="margin-right: 10px"> <strong>Follower(s):</strong> {{user.followers}}</span>
                      <span class="badge badge-success" style="margin-right: 10px"> <strong>Following:</strong> {{user.following}}</span>
                      <span class="badge badge-warning"> Created: {{user.date}}</span>
              </div>
              </div> 
              </div>
          </form>
        <div class="row">
          <div class="col-md-4">
            <img width="300px" src="{{user.avatarimg}}" class="rounded-circle img-responsive" alt="profile picture.">
            <h3 appHighlight>{{user.fullname | uppercase}}</h3>
            <br> 
            <ul class="list-group" >
              <li class="list-group-item ">{{user.bio}}</li>
              <li class="list-group-item"><strong>Username:</strong>{{user.user}}</li>
              <li class="list-group-item">{{user.email}}</li>
            </ul>
          </div>

          <div class="col-md-8" style="text-align:center" >
                <div class="panel panel-default">
                    <div class="card-header">
                      <h3><strong><u>Repositories</u></strong></h3>
                </div>
            </div>
            <div class="card" class="repos"  >
              <div *ngFor="let repo of repoArray.myRepoArray">
                <div class="panel panel-default">
                  <div class="card-header">
                    <h4><strong>{{repo.name}}</strong></h4>
                  </div>
                  <div class="card-body">
                    <p> {{repo.description}}</p>
                    <button type="button" name="button" class="btn btn-dark"><a href="{{repo.html_url}}" target="_blank">View
                        on GitHub</a></button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
