/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

nav{
    background-color: #24292e;
}

h1{
    font-family: Algerian;
    color: white;
}

h2{
    text-align:center;
}
